<!doctype html>
<html>
<head>
	<meta charset = utf-8>
	<script src="js/jquery-2.1.4.js" type="text/javascript"></script>
	<link href="css/main.css" rel="stylesheet">
	<title>Калькулятор</title>
<body>
	<h1>My Simple calc</h1>
	<div id="container"><div id="command_line"></div>
		<div id="work_place">
			<p id="disp"></p>
 			<div id="buttons"><table>
 				<tr><td><div class= "but" id = "plus">+</div></td>
 				<td><div class= "but" id = "min">-</div></td>
 				<td><div class= "but" id = "mul">*</div></td>
 				<td><div class= "but" id = "del">/</div></td>
 				<tr><td><div class= "but" id = "sev">7</div></td>
 				<td><div class= "but" id = "ei">8</div></td>
 				<td><div class= "but" id = "ni">9</div></td></tr>
 				<tr><td><div class= "but" id = "fr">4</div></td>
 				<td><div class= "but" id = "fv">5</div></td>
 				<td><div class= "but" id = "six">6</div></td></tr>
 				<tr><td><div class= "but" id = "one">1</div></td>
 				<td><div class= "but" id = "two">2</div></td>
 				<td><div class= "but" id = "thr">3</div></td></tr></table>
 			 	<table><tr><td><div class= "but" id = "zero">0</div></td></tr></table>
 			 	 <table id = "rtt"><tr><td><div class= "but" id = "cc">C</div></td></tr>
 			 	 <tr><td><div class= "but" id = "result">=</div></table></td></tr>
 			</div>
		</div>
	</div>
	<script src="js/main.js" type="text/javascript"></script>
</body>
</head>